<div
  class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
>
  <h1 class="h2">About</h1>
  <a href="/auth/login" class="btn btn-secondary">Back to Login</a>
</div>

<h4>Hello GAN !</h4>

<div class="pt-4">
  <p>Terima Kasih banyak sudah menggunakan dasbaord ini, saya akan menjelaskan kegunaan dasboard tersebut!</p>
  <h5>Dasboard ini dapat digunakan untuk mengatur keperluan management  !</h5>
</div>
